<h1>{{title}}</h1>

<!--<app-directive-ngif></app-directive-ngif>-->

<!--<app-directive-ngswitch></app-directive-ngswitch>-->

<!--<app-directive-ngfor></app-directive-ngfor>-->

<!--<app-directive-ngclass></app-directive-ngclass>-->

<!--<app-directive-ngstyle></app-directive-ngstyle>-->

<!--<app-elvis-operator></app-elvis-operator>-->

<!--<app-directive-ngcontent>-->
    <!--Texto passando por ng-content-->
    <!--<app-elvis-operator></app-elvis-operator>-->
<!--</app-directive-ngcontent>-->
<!--<br>-->
<!--<app-directive-ngcontent>-->
    <!--<div class="title">Título por ng-content</div>-->
    <!--<div class="body">-->
        <!--Corpo por ng-content-->
    <!--</div>-->
    <!--<div class="body">-->
        <!--Pega todos os seletores iguais e coloca juntos-->
    <!--</div>-->
<!--</app-directive-ngcontent>-->

<app-custom-directive></app-custom-directive>